# .gitmodules - Git submodules configuration for PoorCraft dependencies

# GLFW: Window and input management library (tracking master branch)
[submodule "libs/glfw"]
    path = libs/glfw
    url = https://github.com/glfw/glfw.git
    branch = master

# GLM: OpenGL Mathematics header-only library (tracking master branch)
[submodule "libs/glm"]
    path = libs/glm
    url = https://github.com/g-truc/glm.git
    branch = master

# ENet: Lightweight reliable UDP networking library (tracking master branch)
[submodule "libs/enet"]
    path = libs/enet
    url = https://github.com/lsalzman/enet.git
    branch = master

# Dear ImGui: Immediate mode GUI library (tracking master branch)
[submodule "libs/imgui"]
    path = libs/imgui
    url = https://github.com/ocornut/imgui.git
    branch = master

# Lua 5.4: Scripting runtime (tracking v5.4 branch/tag)
[submodule "libs/lua"]
    path = libs/lua
    url = https://github.com/lua/lua.git
    branch = v5.4

# sol2: Modern C++ bindings for Lua (tracking develop branch)
[submodule "libs/sol2"]
    path = libs/sol2
    url = https://github.com/ThePhD/sol2.git
    branch = develop
